@import './../../styles/shared.scss';

.city_switch {
  @include breakpoint(xs) {
    text-align: center;
    float: none !important; 
  }
  &__city {
    vertical-align: middle;
    font-size: 1.5rem;
    cursor: pointer;
  }
  #icon_burger {
    vertical-align: middle;
    margin-left: 15px;
  }
}
