@media screen and (max-width: 767px) {
  .mobile-hide {
    display: none; }
  .mobile-show {
    display: initial; } }

@media screen and (min-width: 768px) {
  .mobile-hide {
    display: initial; }
  .mobile-show {
    display: none; } }

.animation__photo-enter {
  filter: blur(2px) grayscale(100%); }

.animation__photo-enter-active.animation__photo-enter {
  filter: blur(0px) grayscale(0%);
  transition: all 200ms ease-in; }

.animation__photo-leave {
  opacity: 1; }
  .animation__photo-leave-active.animation__photo-leave {
    opacity: 0.01;
    transition: opacity 200ms ease-in; }

@keyframes bump {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.6); }
  100% {
    transform: scale(1); } }

.animation__bump {
  animation: bump .5s ease-out; }

.gal_nav {
  padding-top: 30px;
  max-width: 1200px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .gal_nav {
      padding: 15px 0;
      overflow-x: hidden; } }
  .gal_nav__back {
    font-size: 1.2rem;
    padding-top: 10px;
    display: inline-block;
    white-space: nowrap; }
    .gal_nav__back:hover .gallery__back {
      text-decoration: underline; }
    .gal_nav__back:hover .arrow_left {
      transform: translateX(-5px); }
  .gal_nav__equal {
    display: flex; }
  .gal_nav .arrow_left, .gal_nav .arrow_right, .gal_nav .close_icon {
    fill: #73bd4c; }
  .gal_nav__counter {
    color: #b3b3b3;
    line-height: 2.2;
    font-size: 20px;
    float: right; }
  .gal_nav__title {
    display: inline-block;
    font-size: 28px;
    padding-bottom: 10px; }
    @media (max-width: 767px) {
      .gal_nav__title {
        font-size: 1.3em;
        padding-bottom: 0; } }
  .gal_nav__esc {
    font-size: 25px;
    padding-right: 15px;
    vertical-align: middle; }
  .gal_nav__close {
    display: inline-block; }
    .gal_nav__close .close_icon {
      width: 30px;
      vertical-align: middle; }
  .gal_nav__secondary {
    padding: 0 20px; }
  .gal_nav__share {
    padding-top: 10px; }
    @media (max-width: 767px) {
      .gal_nav__share {
        padding-top: 0px; } }
    .gal_nav__share__text {
      color: #b3b3b3; }
  .gal_nav__arrow {
    width: 100%;
    height: 100%;
    display: block; }
    .gal_nav__arrow .arrow_left, .gal_nav__arrow .arrow_right {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
      @media (max-width: 767px) {
        .gal_nav__arrow .arrow_left, .gal_nav__arrow .arrow_right {
          top: 0;
          transform: translate(-50%);
          width: 30px; } }
    @media (max-width: 767px) {
      .gal_nav__arrow .arrow_left {
        left: initial;
        right: -45px; } }
    @media (max-width: 767px) {
      .gal_nav__arrow .arrow_right {
        left: -15px; } }
    .gal_nav__arrow:hover .arrow_left, .gal_nav__arrow:hover .arrow_right {
      fill: #59953a; }
  @media (max-width: 767px) {
    .gal_nav__left {
      width: 170%; } }
  @media (max-width: 767px) {
    .gal_nav__right {
      width: 170%;
      margin-left: -50%; } }
  .gal_nav__photo {
    height: 70vh;
    cursor: -webkit-zoom-in;
    cursor: zoom-in; }
    @media (max-width: 767px) {
      .gal_nav__photo {
        margin-top: 40px; } }
    .gal_nav__photo__image {
      max-width: 100%;
      max-height: 70vh;
      margin: auto; }
      @media (max-width: 767px) {
        .gal_nav__photo__image {
          top: 0;
          transform: translate(-50%); } }

.no-nav .single-hidden {
  display: none; }

.no-nav .single-full {
  width: 100%;
  max-width: 100%; }

.no-nav .gal_nav {
  background: black;
  padding: 0; }

.no-nav .gal_nav__photo {
  height: 100vh;
  padding: 0 5px;
  margin-top: 0;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.no-nav .gal_nav__photo__image {
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 93vh; }
