@media screen and (max-width: 767px) {
  .mobile-hide {
    display: none; }
  .mobile-show {
    display: initial; } }

@media screen and (min-width: 768px) {
  .mobile-hide {
    display: initial; }
  .mobile-show {
    display: none; } }

.animation__photo-enter {
  filter: blur(2px) grayscale(100%); }

.animation__photo-enter-active.animation__photo-enter {
  filter: blur(0px) grayscale(0%);
  transition: all 200ms ease-in; }

.animation__photo-leave {
  opacity: 1; }
  .animation__photo-leave-active.animation__photo-leave {
    opacity: 0.01;
    transition: opacity 200ms ease-in; }

@keyframes bump {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.6); }
  100% {
    transform: scale(1); } }

.animation__bump {
  animation: bump .5s ease-out; }

.map {
  position: relative;
  top: -100px; }
  @media (max-width: 767px) {
    .map {
      top: 0;
      overflow-x: hidden; } }
  .map__wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1000px; }
    .map__wrapper .map_icon {
      width: 54px;
      fill: #73bd4c;
      display: block;
      margin: 60px auto; }
    .map__wrapper .map__list {
      background-image: none; }
  .map__list {
    z-index: 1;
    position: relative; }
    .map__list-ul {
      font-size: 18px;
      list-style: none; }
      @media (max-width: 767px) {
        .map__list-ul {
          font-size: 23px;
          line-height: 1.9;
          margin: 0;
          padding-left: 0;
          text-align: center; } }
    .map__list-item {
      padding: 5px 10px;
      cursor: pointer; }
      @media (max-width: 767px) {
        .map__list-item {
          padding: 5px 0; } }
      .map__list-item:hover {
        background-color: #73bd4c;
        color: white; }
        .map__list-item:hover a {
          color: white;
          text-decoration: none; }
        .map__list-item:hover .map__list-qty {
          display: inline; }
      .map__list-item.active {
        background-color: #73bd4c;
        color: white; }
        .map__list-item.active a {
          color: white;
          text-decoration: none; }
        .map__list-item.active .map__list-qty {
          display: inline; }
      .map__list-item.inactive {
        color: #b3b3b3;
        background-color: transparent; }
    .map__list-title {
      font-size: 44px;
      line-height: 1.2;
      text-align: center; }
    .map__list-name {
      text-decoration: underline; }
    .map__list-qty {
      display: none;
      float: right;
      padding-right: 5px; }
  .map__body {
    position: relative;
    margin: 0 auto;
    max-width: 1000px; }
    @media (max-width: 767px) {
      .map__body {
        margin-bottom: 50px; } }
    .map__body__image {
      width: 100%; }
    .map__body__caption {
      text-transform: uppercase;
      font-weight: bold;
      position: absolute;
      white-space: nowrap;
      top: 25%;
      color: rgba(0, 0, 0, 0.18);
      text-shadow: -44px 36px 0px #f7f7f7; }
      @media (max-width: 767px) {
        .map__body__caption {
          font-size: 7vw;
          text-shadow: none; } }
      @media (min-width: 768px) {
        .map__body__caption {
          font-size: 60px; } }
      @media (min-width: 992px) {
        .map__body__caption {
          font-size: 80px; } }
    .map__body__pin {
      position: absolute; }
      @media (max-width: 767px) {
        .map__body__pin {
          display: none; } }
      .map__body__pin .icon_pin {
        fill: black;
        transition: fill .2s; }
      .map__body__pin:hover {
        z-index: 99; }
        .map__body__pin:hover .icon_pin {
          fill: #73bd4c; }
      .map__body__pin.active {
        z-index: 99; }
        .map__body__pin.active .icon_pin {
          fill: #73bd4c; }
      .map__body__pin#pin-stavropol {
        bottom: 14%;
        left: 2%; }
      .map__body__pin#pin-lipetsk {
        bottom: 33%;
        left: 8%; }
      .map__body__pin#pin-belgorod {
        bottom: 30%;
        left: 4%; }
      .map__body__pin#pin-tambov {
        bottom: 34%;
        left: 13%; }
      .map__body__pin#pin-beloretsk {
        bottom: 21%;
        left: 13%; }
      .map__body__pin#pin-nevinka {
        bottom: 12%;
        left: 4%; }
      .map__body__pin#pin-tomsk {
        bottom: 12%;
        left: 44%; }
      .map__body__pin#pin-vladivostok {
        bottom: 6%;
        left: 86%; }
      .map__body__pin#pin-ufa {
        bottom: 22%;
        left: 10%; }
      .map__body__pin#pin-elets {
        bottom: 35%;
        left: 6%; }
      .map__body__pin#pin-elista {
        bottom: 15%;
        left: 6%; }
