@media screen and (max-width: 767px) {
  .mobile-hide {
    display: none; }
  .mobile-show {
    display: initial; } }

@media screen and (min-width: 768px) {
  .mobile-hide {
    display: initial; }
  .mobile-show {
    display: none; } }

.animation__photo-enter {
  filter: blur(2px) grayscale(100%); }

.animation__photo-enter-active.animation__photo-enter {
  filter: blur(0px) grayscale(0%);
  transition: all 200ms ease-in; }

.animation__photo-leave {
  opacity: 1; }
  .animation__photo-leave-active.animation__photo-leave {
    opacity: 0.01;
    transition: opacity 200ms ease-in; }

@keyframes bump {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.6); }
  100% {
    transform: scale(1); } }

.animation__bump {
  animation: bump .5s ease-out; }

.album_flex {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: wrap;
  display: -webkit-box;
  display: flex;
  justify-content: space-evenly; }
  @media (max-width: 767px) {
    .album_flex {
      margin-top: 40px; } }
  .album_flex .gallery_cover {
    position: relative;
    margin: auto;
    -ms-transform: translateY(-50%);
    transform: translateY(-25%); }
  .album_flex__wrap {
    position: relative;
    padding-bottom: 50px; }
    .album_flex__wrap.more {
      text-transform: uppercase; }
  .album_flex__item {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    flex-grow: 0;
    position: relative;
    width: 300px;
    height: 325px;
    margin: 40px;
    margin-bottom: 50px; }
    @media (max-width: 767px) {
      .album_flex__item {
        margin: 15px;
        margin-bottom: 15px; } }
  .album_flex__rest {
    margin: -30px auto 60px auto;
    width: 70px;
    cursor: pointer; }
    .album_flex__rest-album {
      display: none; }
      .album_flex__rest-album.active {
        display: flex; }
    .album_flex__rest .arrow_circle {
      width: 70px;
      height: 70px;
      fill: #b3b3b3; }
    .album_flex__rest:hover .arrow_circle {
      transform: rotate(180deg); }
  .album_flex .gallery_cover__image {
    max-height: 326px; }

@media screen and (max-width: 815px) {
  .album_flex__item {
    width: 100%;
    height: auto; }
  .album_flex .gallery_cover__image {
    max-height: initial; }
  .album_flex .gallery_cover {
    transform: translate(0);
    margin-bottom: 50px; } }
