@media screen and (max-width: 767px) {
  .mobile-hide {
    display: none; }
  .mobile-show {
    display: initial; } }

@media screen and (min-width: 768px) {
  .mobile-hide {
    display: initial; }
  .mobile-show {
    display: none; } }

.animation__photo-enter {
  filter: blur(2px) grayscale(100%); }

.animation__photo-enter-active.animation__photo-enter {
  filter: blur(0px) grayscale(0%);
  transition: all 200ms ease-in; }

.animation__photo-leave {
  opacity: 1; }
  .animation__photo-leave-active.animation__photo-leave {
    opacity: 0.01;
    transition: opacity 200ms ease-in; }

@keyframes bump {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.6); }
  100% {
    transform: scale(1); } }

.animation__bump {
  animation: bump .5s ease-out; }

.nav_top__bottom {
  padding: 65px 60px 0 60px;
  max-width: 1600px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    .nav_top__bottom {
      padding: 30px 60px 0 60px; } }

.nav_top__dropdown {
  max-height: 0;
  overflow: hidden;
  background: linear-gradient(to right, #253542, #0e212e);
  color: white;
  transition: all 0.4s cubic-bezier(0, 1, 0, 1); }
  .nav_top__dropdown.active {
    max-height: 1000px;
    transition: all .5s ease-in; }
  .nav_top__dropdown a {
    color: white; }
  .nav_top__dropdown .map__list {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0 40px 0;
    background: url("../../assets/images/cities_back.png") no-repeat center;
    background-size: contain; }
  .nav_top__dropdown .map__list-title {
    font-size: 30px;
    margin-bottom: 20px; }

.nav_top__logo_main {
  display: block;
  position: relative;
  background: white;
  z-index: 1;
  transition: all .2s; }
  @media (min-width: 768px) {
    .nav_top__logo_main {
      max-width: 220px; } }
  @media (max-width: 767px) {
    .nav_top__logo_main {
      margin: 0 auto;
      max-width: 200px; } }

.nav_top__tooltip:hover .logo_main {
  opacity: 0; }

.nav_top__tooltip:hover .nav_top__tooltip-text {
  opacity: 1; }

.nav_top__tooltip-text {
  left: 10%;
  opacity: 0;
  transition: all .3s; }

.nav_top .logo_smile {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 310px;
  transition: all .5s; }
  .nav_top .logo_smile:hover {
    fill: #72bd44 !important; }
  @media (max-width: 767px) {
    .nav_top .logo_smile {
      margin-top: 30px;
      margin-bottom: 20px;
      width: 100%;
      padding-left: 0;
      padding-right: 0; } }
