@media screen and (max-width: 767px) {
  .mobile-hide {
    display: none; }
  .mobile-show {
    display: initial; } }

@media screen and (min-width: 768px) {
  .mobile-hide {
    display: initial; }
  .mobile-show {
    display: none; } }

.animation__photo-enter {
  filter: blur(2px) grayscale(100%); }

.animation__photo-enter-active.animation__photo-enter {
  filter: blur(0px) grayscale(0%);
  transition: all 200ms ease-in; }

.animation__photo-leave {
  opacity: 1; }
  .animation__photo-leave-active.animation__photo-leave {
    opacity: 0.01;
    transition: opacity 200ms ease-in; }

@keyframes bump {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.6); }
  100% {
    transform: scale(1); } }

.animation__bump {
  animation: bump .5s ease-out; }

@media (max-width: 767px) {
  .giraffe {
    display: none; } }

.giraffe__wrapper {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden; }

.giraffe__title {
  display: inline-block;
  font-size: 25px;
  padding: 70px 0 70px 30px; }
  .giraffe__title-big {
    transition: all .3s ease-out;
    font-family: 'unisans_hc', Arial;
    font-size: 61px;
    line-height: 0.8;
    color: #73bd4c;
    margin-left: -5px; }

.giraffe__body {
  display: inline-block;
  vertical-align: top; }

.giraffe__options {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding-top: 65px;
  font-size: 16px;
  margin-left: 15px; }
  .giraffe__options-divider {
    display: none; }

.giraffe__option {
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 15px;
  line-height: 1.2; }
  .giraffe__option-img {
    margin-bottom: 10px; }

.giraffe__head {
  position: absolute;
  right: 7%;
  top: -30px;
  transition: all .6s ease-out; }

.giraffe:hover .giraffe__head {
  top: -10px;
  transform: rotate(5deg); }

.giraffe:hover .giraffe__title-big {
  color: #88cd40; }

.giraffe:hover .giraffe__whole {
  transform: rotate(5deg); }

@media screen and (max-width: 1280px) {
  .giraffe__body {
    margin-left: -52px; }
  .giraffe__options {
    padding-top: 65px;
    margin-left: -40px; } }

@media screen and (max-width: 1155px) {
  .giraffe__options {
    padding-top: 15px;
    font-size: 15px;
    margin-left: 50px; }
    .giraffe__options-divider {
      display: block; }
  .giraffe__option {
    line-height: 1.0; }
    .giraffe__option-img {
      width: 57px; } }

@media screen and (max-width: 1080px) {
  .giraffe__options {
    margin-left: 30px; } }

@media screen and (max-width: 1020px) {
  .giraffe__options {
    margin-left: -20px; } }

@media screen and (max-width: 930px) {
  .giraffe__body {
    display: none; }
  .giraffe__head {
    position: relative;
    right: 0;
    margin-left: 5px;
    vertical-align: top; }
  .giraffe__options {
    margin-left: 15px; } }

.giraffe-v .giraffe {
  background: #f0f0f0; }
  .giraffe-v .giraffe__wrapper {
    height: 100vh; }
  .giraffe-v .giraffe__title {
    padding: 30px 0 0 0;
    display: block;
    text-align: center;
    font-size: 1.7vw; }
    .giraffe-v .giraffe__title-big {
      font-size: 2.4vw;
      line-height: 1.1; }
  .giraffe-v .giraffe__whole {
    padding: 30px 14% 0 0;
    position: absolute;
    left: -40px;
    bottom: 0;
    transition: all 1s; }
    .giraffe-v .giraffe__whole-img {
      max-height: 73vh; }
  .giraffe-v .giraffe__options {
    font-size: 13px;
    position: absolute;
    right: 10%;
    bottom: 100px;
    margin-left: 0; }
    .giraffe-v .giraffe__options-divider {
      display: block; }
  .giraffe-v .giraffe__option {
    margin-left: 18px; }
    .giraffe-v .giraffe__option-img {
      width: 50px; }

@media screen and (max-width: 1430px) {
  .giraffe-v .giraffe__whole {
    left: -70px; } }

@media screen and (max-width: 1315px) {
  .giraffe-v .giraffe__option {
    margin-left: 10px; }
  .giraffe-v .giraffe__options {
    font-size: 12px; } }

@media screen and (max-width: 1200px) {
  .giraffe-v .giraffe__option-img {
    width: 45px; }
  .giraffe-v .giraffe__options {
    right: 7%; }
  .giraffe-v .giraffe__title {
    padding: 40px 0 0 0; } }

@media screen and (max-width: 1100px) {
  .giraffe-v .giraffe__whole {
    left: -90px; } }

@media screen and (max-width: 1010px) {
  .giraffe-v .giraffe__whole {
    left: -90px; } }

@media screen and (max-width: 954px) {
  .giraffe-v .giraffe__whole {
    bottom: -52%;
    left: -80px; }
  .giraffe-v .giraffe__title {
    padding: 15px 0 0 0; }
  .giraffe-v .giraffe__options {
    font-size: 13px;
    bottom: 140px; }
  .giraffe-v .giraffe__option {
    padding: 0 5px; }
    .giraffe-v .giraffe__option-img {
      width: 40px; }
    .giraffe-v .giraffe__option-br {
      display: none; } }
